/*Header*/
header {
    background-color: #3d4155;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius: 2vw;
    padding: 3%;
    
}
body{
    background-color: #b6b7bc;
     background-image: url(../img/2946595-1340279729.jpg)
   
}

.logo {
    height: 20vw;
    
    
}

.center {
    display: flex;
    justify-content:center;
}

.buscador {
    width: 120%;
    height: 120%;
    border-radius: 5vw;
}


.usuario {
    display: flex;
    flex-direction: row;
    margin-right: 14vw;
}

.usuario a {
    margin-left: 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 120%;
    background-color: rgb(177, 177, 197);
    padding: 1% 2%;
    border-radius: 1vw;
}

/*Footer*/
footer {
    background-color: #3d4155;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    border-radius: 2vw;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 0;
}

.centro-foot {
    display: flex;
    margin-right: 7%;
    font-family: "Dancing Script", cursive;
}

.centro-foot p {
    margin-right: 5%;
    font-size: 150%;
    color: #aebdff;
}

/*links para category*/

.cate-all {

    list-style: none;

    text-decoration: none;

    color: black;

    font-size: 20PX;

    padding-top: 1%;
    padding-left: 4%;

}
  
.cate-all a {

    list-style: none;

    text-decoration: none;

    color: black;

    padding-top: 2%;

    font-family: "Rubik Glitch", system-ui;

}


.aside-cat {

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    background-color: #4c5168;

    width: 20%;

    height: 70%;

    border-radius: 5vw;

    margin-right: 2%;

    margin-top: 1%;

}

/*main del login*/

.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #555e84;
    border-radius: 12px;
    height: 40%;
    width: 30%;
    margin-left: 36%;
    margin-top: 9%;
    margin-bottom: 10%;

}


.notengo {
    list-style: none;
    text-decoration: none;
    color: black;

}

.contenido {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5%;
}

.login form {
    margin-bottom: 9%;
}

.login div {
    margin-bottom: 7%;
   
}


/*main del registro*/

.register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #555e84;
    border-radius: 12px;
    height: 50%;
    width: 30%;
    margin-left: 37%;
    margin-top: 7%;
    margin-bottom: 10%;

}

.register div {
    padding-top: 7%;
}

.si-tengo {
    list-style: none;
    text-decoration: none;
    color: black;
}

/*index*/

.main-index {
    display: flex;
    margin-top: 1%;
}

.productos-index {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.mas-vendidos,
.otros-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 95%;
    background-color: #555e84;
    border-radius: 4%;
 
}

.mas-vendidos article,
.otros-productos article {
    width: 20%;
    margin: 1%;
    text-align: center;
    border: 1% solid black;
    border-radius: 5%;
    padding: 1%;
    background-color: #d7d7d7;
    box-sizing: border-box;
}

.mas-vendidos img,
.otros-productos img {
    width: 100%;
    height: 60%;
}

.mas-vendidos h2,
.otros-productos h2 {
    width: 100%;
    font-size: 200%;
    font-family: "Quintessential", serif;
    color: rgb(105, 164, 164);
    margin-bottom: 2%;
    text-align: center;
    background-color: #4c5168;
    margin: auto;
    width: 80%;
}

.mas-vendidos a,
.otros-productos a {
    list-style: none;
    text-decoration: none;
    color: black;
    margin-top: 0.4%;
    background-color: rgb(128, 128, 150);
    color: white;
    border-radius: 0.5vw;
    font-weight: bold;
}

.mas-vendidos h3,
.otros-productos h3 {
    font-size: 100%;
}

.mas-vendidos p,
.otros-productos p {
    margin: 1%;
}

/*main producto*/

.main-product {
    display: flex;
    margin-top: 1%;
}

.aside-cat {
    width: 20%;
    margin-right: 2%;
}

.product-main {
    margin-left: 17%;
    margin-top: 1.5%;
}

.product-main a {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-top: 1%;
    font-family: "Rubik Glitch", system-ui;
    background-color: rgb(157, 158, 172);
    border-radius: 0.3vw;
}

.product-main article {
    width: 50%;
    text-align: center;
    border: 1% solid black;
    border-radius: 5%;
    padding: 1%;
    background-color: #b3b3c0;
}

.product-main div {
    padding-top: 2%;
}

.product-main img {
    width: 100%;
    height: 60%;
}
.precio{
    color: green;
    
}
.rating{
    display: flex;
    flex-direction: column;
 
}
/*responsive phone*/

@media (max-width: 420px) {
    
    body {
        background-color: rgb(225, 227, 241);
        max-width: 420px;
        
    }
/*Header*/
    header {
        background-color: #9cadf7;
        height: 90px;
        border-radius: 2vw;
        padding: 2%;
        max-width: 400px
    }
    .buscador {
    width: 100%;
    height: 120%;
    border-radius: 5vw;
}
    .usuario a {
    margin-left: 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 78%;
    background-color: rgb(177, 177, 197);
    padding: 7% 1%;
    border-radius: 1vw;
}


    
/*productos*/   
    
   .mas-vendidos article,
    .otros-productos article {
    width: 80%;
    margin: 10%;}
    
    .productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 200px;

    }
       .main-product {
    display: flex;
    margin-top: 1%;
}
    .product-main {
    margin-left: 17%;
    margin-top: 1.5%;
}

    .product-main a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-top: 1%;
    font-family: "Rubik Glitch", system-ui;
    background-color: rgb(128, 128, 150);
    border-radius: 0.7vw;

}
  .product-main img {

    width: 86%;
    height: 60%;
}

    .product-main article {
    width: 75%;
    margin: 3%;
    text-align: center;
    border: 1% solid black;
    border-radius: 5%;
    padding: 1%;
    background-color: #d7d7d7;
}
/*registro*/
    
.register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #555e84;
    border-radius: 12px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;

/*login aca ay un problema no se me pone el login en amarillo */

.login{
    width: 60%;
    margin-left: 24%}


/*side buscador*/

}
  .cate-all {

    list-style: none;

    text-decoration: none;

    color: black;

    font-size: 10PX;

    padding-top: 1%;
    padding-left: 4%;

}
 


}

