/*Header*/
header {
    background-color:#eff2ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius:2vw;
    padding: 2%;
}
body{
    background-color:#b6b7bc;

}

.logo {
    height: 20vw;
}

.center {
    display: flex;
    justify-content: center;
}

.buscador {
    width: 120%;
    height: 120%;
    border-radius: 5vw;
}


.usuario {
    display: flex;
    flex-direction: row;
    margin-right: 7vw;
}

.usuario a {
    margin-left: 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 120%;
    background-color:  rgb(177, 177, 197);
    padding: 1% 2%;
    border-radius: 1vw;
}

/*Footer*/
footer{
    background-color:#eff2ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius:2vw;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 0;
}
.centro-foot {
    display: flex;
    margin-right: 5%;
    font-family: "Dancing Script", cursive;
}

.centro-foot p {
    margin-right: 2%;
    font-size: 130%;
}

/*links para category*/

.cate-all{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 1%;
}
.cate-all a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding-top: 2%;
    font-family: "Rubik Glitch", system-ui;
}


.aside-cat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #eff2ff;
    width: 15%;
    height: 70%;
    border-radius: 5vw;
    margin-right: 2%;
    margin-top: 1%;
}

/*main del login*/


.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 128, 150);
    border-radius: 12px;
    height: 40%;
    width: 30%;
    margin-left: 17%;
    margin-top: 9%;
}


.notengo{
    list-style: none;
    text-decoration: none;
    color: black;
}

.contenido{
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5%;
}

.login form{
    margin-bottom: 9%;
}
.login div{
    margin-bottom: 7%;
}


/*main del registro*/

.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(159, 159, 185);
    border-radius: 12px;
    height: 50%;
    width: 30%;
    margin-left: 19%;
    margin-top: 7%;
}
.register div{
    padding-top: 7%;
}

.si-tengo{
    list-style: none;
    text-decoration: none;
    color: black;
}

/*index*/

.main-index{
    display: flex;
    margin-top: 1%;
}

.productos-index{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.mas-vendidos, .otros-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 95%;

}

.mas-vendidos article, .otros-productos article {
    width: 20%;
    margin: 1%;
    text-align: center;
    border: 1% solid black;
    border-radius: 5%;
    padding: 1%;
    background-color: #d7d7d7;
    box-sizing: border-box;
}

.mas-vendidos img, .otros-productos img {
    width: 100%;
    height: 60%;
}

.mas-vendidos h2,.otros-productos h2 {
    width: 100%;
    font-size: 200%;
    font-family: "Quintessential", serif;
    color: rgb(85, 86, 86);
    margin-bottom: 2%;
    text-align: center;
}
 .mas-vendidos a , .otros-productos a{
    list-style: none;
    text-decoration: none;
    color: black;
    margin-top: 0.4%;
    background-color: rgb(128, 128, 150);
    color: white;
    border-radius: 0.5vw;
    font-weight: bold;
}

.mas-vendidos h3,.otros-productos h3{
    font-size: 100%;
}

 .mas-vendidos p,.otros-productos p{
    margin: 1%;
 }

 /*main producto*/

 .main-product {
    display: flex;
    margin-top: 1%;
}

.aside-cat {
    width: 20%;
    margin-right: 2%;
}

.product-main{
    margin-left: 17%;
    margin-top: 1.5%;
}
 .product-main a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding-top: 1%;
    font-family: "Rubik Glitch", system-ui;
    background-color: rgb(128, 128, 150);
    border-radius: 0.7vw;
 }
.product-main article{
     width: 50%;
    text-align: center;
    border: 1% solid black;
    border-radius: 5%;
    padding: 1%;
    background-color: #d7d7d7;
}

.product-main div{
    padding-top: 2%;
}

.product-main img{
    width: 100%;
    height: 60%;
}
 
/*search-result*/

