/*Header*/
header {
    background-color: rgb(234, 250, 250);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius: 10vw;
    padding: 2%;
}

.logo {
    height: 100px;
}

.center {
    display: flex;
    justify-content: center;
}

.buscador {
    width: 70%;
}


.usuario {
    display: flex;
    flex-direction: row;
}

.usuario a {
    margin-left: 10%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 90%;
}

/*main del login*/

.sect-login{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3%;
}
.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 128, 150);
    border-radius: 12px;
    height: 40%;
    width: 30%;
}
.login{
    display: flex;
    align-self: center;
}

.notengo{
    list-style: none;
    text-decoration: none;
    color: black;
}

/*main del registro*/

.sect-register{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3%;
}
.register{
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 128, 150);
    border-radius: 12px;
    height: 40%;
    width: 30%;
}

.si-tengo{
    list-style: none;
    text-decoration: none;
    color: black;
}
